/* WordCount.css */

.word-count-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .word-count-container h1 {
    text-align: center;
  }
  
  .word-count-app {
    text-align: center;
    max-width: 400px;
  }
  
  .word-count-app .text-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .word-count-app .word-count {
    font-size: 18px;
    color: #333;
    font-weight: bold;
  }
  